<div class="absolute inset-x-0 top-0 z-50">
  <nav class="flex items-center justify-between p-6 lg:px-8">
    <div class="flex lg:flex-1">
      <a href="#" class="text-[32px] font-bold text-[#000000] uppercase">Hamza Gattal</a>
    </div>
    <div class="flex lg:hidden">
      <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-200">
        <span class="sr-only">Open main menu</span>
        <fa-icon [icon]="menu"></fa-icon>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <a href="#" class="text-[18px] font-medium text-[#050505]">Home</a>
      <a href="#" class="text-[18px] font-medium text-[#050505]">About</a>
      <a href="#" class="text-[18px] font-medium text-[#050505]">Projects</a>
      <a href="#" class="text-[18px] font-medium text-[#050505]">Services</a>
      <a href="#" class="text-[18px] font-medium text-[#050505]">Resume</a>
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <a href="#" class="border-[2px] border-[#484e53] rounded-[9px] drop-shadow-[0_4_4px_0_rgba(0,0,0,0.25)]">
        <span class="font-medium text-[18px] text-[#484e53] px-[20px] py-[10px]">Contact</span>
      </a>
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <a href="#" class="text-[18px] font-medium text-[#484e53]">
        <fa-icon [icon]="dark"></fa-icon>
      </a>
    </div>
  </nav>
</div>

