<div class="mx-auto max-w-2xl py-8 sm:py-16 md:py-20 lg:py-24">
  <div class="hidden sm:mb-8 sm:flex sm:justify-center">
    <div class="relative rounded-full px-3 py-1">
        <img ngSrc="image/15.png" height="200" width="200" alt="Logo">
    </div>
  </div>
  <div class="text-center">
    <h1 class="text-[63px] font-bold text-[#ffffff]">Hamza <span class="uppercase">Gattal</span></h1>
    <p class="text-[26px] font-semibold bg-gradient-to-r from-[#4FC3F7] to-[#ffffff] text-transparent bg-clip-text mt-1">Android Developer</p>
    <p class="text-[19px] font-medium text-[#e1e1e1] mt-5">
      Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat
      veniam occaecat.
      Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat
      veniam occaecat.
    </p>
    <div class="mt-10">
      <button class="text-[15px] text-[#ffffff] font-medium capitalize outline-[#4fc3f7] outline-[1px] rounded-[75px] h-[55px] w-[190px] hover:bg-[#48c3f7]">
        <span class="">Contact me</span>
      </button>
    </div>
  </div>
</div>
