<div class="mx-auto max-w-7xl mb-6 pb-6 lg:mb-12 lg:pb-12">
  <div
    class="mx-auto grid max-w-2xl grid-cols-1 align-middle gap-x-8 gap-y-16 sm:gap-y-20">
    <div class="px-6 lg:pt-4 lg:pr-8 lg:px-8">
      <div class="lg:max-w-lg">
        <h2 class="text-4xl font-semibold tracking-tight text-pretty text-white sm:text-5xl">What I do</h2>
        <p class="mt-2 text-base/7 font-semibold text-indigo-400">My Services</p>
        <dl class="mt-10 max-w-xl space-y-8 text-base/7 text-gray-400 lg:max-w-none">
          <div class="relative pl-9">
            <dt class="inline font-semibold text-white">
              <fa-icon [icon]="faAndroid" class="absolute top-1 left-1 size-5 text-indigo-400"></fa-icon>
              Android Applications.
            </dt>
            <dd class="inline">
              I develop feature-rich Android applications that combine functionality with elegant design. My mobile apps
              include custom user interfaces, local data management, network connectivity, and interactive features. I
              prioritize performance optimization and ensure compatibility across various Android devices while
              implementing modern development patterns and lifecycle management.
            </dd>
          </div>
          <div class="relative pl-9">
            <dt class="inline font-semibold text-white">
              <fa-icon [icon]="faCode" class="absolute top-1 left-1 size-5 text-indigo-400"></fa-icon>
              Web Applications.
            </dt>
            <dd class="inline">
              I craft engaging web applications using Angular that bring ideas to life through interactive interfaces.
              My
              projects feature component-driven architecture, smooth navigation, form handling, and data visualization.
              I
              focus on creating responsive designs that adapt perfectly to any device, while implementing modern web
              standards and accessibility best practices.
            </dd>
          </div>
          <div class="relative pl-9">
            <dt class="inline font-semibold text-white">
              <fa-icon [icon]="faGear" class="absolute top-1 left-1 size-5 text-indigo-400"></fa-icon>
              Backend Services.
            </dt>
            <dd class="inline">
              I build reliable server-side applications using Spring Boot that handle complex business logic and data
              operations. My backend solutions include RESTful API development, database integration, user
              authentication,
              and secure data processing. I implement clean architecture principles and ensure robust error handling for
              stable, maintainable applications.
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>
