<div class="mx-auto max-w-2xl py-8 sm:py-16 md:py-20 lg:py-24">
  <div class="text-center">
    <h1 class="text-[45px] font-extrabold text-[#ffffff] capitalize">Get In Touch</h1>
    <p class="text-[14px] font-semibold bg-linear-to-r from-[#4FC3F7] to-[#f5f5f5] text-transparent bg-clip-text">
      Lets work together
    </p>
  </div>

  <form class="mx-auto mt-16 max-w-xl sm:mt-20">
    <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
      <div>
        <label for="first-name" class="block text-[18px] font-bold text-white">First name</label>
        <div class="mt-2.5">
          <input
            id="first-name"
            type="text"
            name="firstName"
            autocomplete="given-name"
            required
            class="block w-full rounded-[10px] bg-blend-normal px-4 py-2 text-white outline-[2px] outline-[#d6d6d6] placeholder:text-[#8987a1] placeholder:font-normal placeholder:text[20px] focus:outline-[2px] focus:outline-[#4FC3F7]"/>
        </div>
      </div>
      <div>
        <label for="last-name" class="block text-[18px] font-bold text-white">Last name</label>
        <div class="mt-2.5">
          <input
            id="last-name"
            type="text"
            name="lastName"
            autocomplete="family-name"
            required
            class="block w-full rounded-[10px] bg-blend-normal px-4 py-2 text-white outline-[2px] outline-[#d6d6d6] placeholder:text-[#8987a1] placeholder:font-normal placeholder:text[20px] focus:outline-[2px] focus:outline-[#4FC3F7]"/>
        </div>
      </div>
      <div class="sm:col-span-2">
        <label for="email" class="block text-[18px] font-bold text-white">Email</label>
        <div class="mt-2.5">
          <input
            id="email"
            type="email"
            name="email"
            autocomplete="email"
            required
            class="block w-full rounded-[10px] bg-blend-normal px-4 py-2 text-white outline-[2px]  outline-[#d6d6d6] placeholder:text-[#8987a1] placeholder:font-normal placeholder:text[20px] focus:outline-[2px] focus:outline-[#4FC3F7]"/>
        </div>
      </div>
      <div class="sm:col-span-2">
        <label for="message" class="block text-[18px] font-bold text-white">Message</label>
        <div class="mt-2.5">
          <textarea
            id="message"
            name="message"
            rows="4"
            required
            class="block w-full rounded-[10px] bg-blend-normal px-4 py-2 text-white outline-[2px]  outline-[#d6d6d6] placeholder:text-[#8987a1] placeholder:font-normal placeholder:text[20px] focus:outline-[2px] focus:outline-[#4FC3F7]"></textarea>
        </div>
      </div>
    </div>
    <div class="mt-10">
      <button
        type="submit"
        class="block w-full rounded-[10px] bg-white px-3.5 py-2.5 text-center text-[16px] font-bold text-black shadow-xs hover:bg-[#4FC3F7] focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
        Get in Touch
      </button>
    </div>
  </form>
</div>
