<div class="mb-6 pb-6 lg:mb-12 lg:pb-12">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-4xl font-semibold tracking-tight text-pretty text-white sm:text-5xl lg:text-balance">Projects</h2>
      <p class="mt-2 text-base/7 font-semibold text-indigo-400">Some of my Work</p>
      <p class="mt-6 text-lg/8 text-gray-300">
        These are simple projects I've built while learning and practicing my development skills. Each project
        represents a step in my journey to master Android, web, and backend development. While they may be basic in
        scope, they demonstrate my understanding of core concepts and my commitment to continuous improvement.
      </p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        <div class="relative pl-16">
          <dt class="text-base/7 font-semibold text-white">
            <div class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-indigo-500">
              <fa-icon [icon]="faStore" class="text-white"></fa-icon>
            </div>
            <a href="https://github.com/hmzgtl16/HBookStore" target="_blank"
               class="hover:text-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
              HBookStore
            </a>
          </dt>
          <dd class="mt-2 text-base/7 text-gray-400">
            HBookStore is a comprehensive Spring Boot-based RESTful API system for managing books, authors,
            customers, and reviews, featuring secure user authentication with JWT and a clean, domain-driven
            architecture.
          </dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base/7 font-semibold text-white">
            <div class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-indigo-500">
              <fa-icon [icon]="faLock" class="text-white"></fa-icon>
            </div>
            <a href="https://github.com/hmzgtl16/OAuth2System" target="_blank"
               class="hover:text-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
              OAuth2System
            </a>
          </dt>
          <dd class="mt-2 text-base/7 text-gray-400">
            OAuth2 System with Spring Boot - Client, Authorization Server & Resource Server.
          </dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base/7 font-semibold text-white">
            <div class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-indigo-500">
              <fa-icon [icon]="faMoneyBillTransfer" class="text-white"></fa-icon>
            </div>
            <a href="https://github.com/hmzgtl16/HBank-API" target="_blank"
               class="hover:text-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
              HBank-API
            </a>
          </dt>
          <dd class="mt-2 text-base/7 text-gray-400">
            A banking API built with Spring Boot and Kotlin.
          </dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base/7 font-semibold text-white">
            <div class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-indigo-500">
              <fa-icon [icon]="faNoteSticky" class="text-white"></fa-icon>
            </div>
            <a href="https://github.com/hmzgtl16/HNotes" target="_blank"
               class="hover:text-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
              HNotes
            </a>
          </dt>
          <dd class="mt-2 text-base/7 text-gray-400">
            A modular Android application designed for note-taking.
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
