<div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
  <div class="text-center">
    <h1 class="text-[45px] font-extrabold text-[#ffffff] capitalize">Projects</h1>
    <p class="text-[14px] font-semibold bg-linear-to-r from-[#4FC3F7] to-[#f5f5f5] text-transparent bg-clip-text">
      Some of my Work
    </p>
  </div>
  <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:gap-x-8">
    <div class="group relative">
      <img ngSrc="image/hbookstore-simple.jpg" alt="" height="200" width="360"
           class="aspect-auto w-full h-auto rounded-lg object-cover"/>
      <div class="flex flex-col justify-between mt-4 h-100">
        <div class="flex-none">
          <h3 class="text-[#c1c1c1] font-bold text-[20px]">HBookStore</h3>
          <p class="mt-1 text-[#a9a9a9] font-normal text-[14px]">
            HBookStore is a comprehensive Spring Boot-based RESTful API system for managing books, authors,
            customers, and reviews, featuring secure user authentication with JWT and a clean, domain-driven
            architecture.
          </p>
        </div>
        <div class="flex flex-wrap flex-none items-start justify-start mt-5">
          <span
            class=" bg-[#484e53] text-[#a9a9a9] text-[16px] capitalize rounded-[50px] outline-1 outline-[#484e53] px-5 py-1.5 m-1">Java</span>
          <span
            class="text-[#a9a9a9] text-[16px] capitalize rounded-[50px] outline-1 outline-[#484e53] px-5 py-1.5 m-1">REST API</span>
          <span
            class="text-[#a9a9a9] text-[16px] capitalize rounded-[50px] outline-1 outline-[#484e53] px-5 py-1.5 m-1">Spring boot</span>
          <span
            class="text-[#a9a9a9] text-[16px] capitalize rounded-[50px] outline-1 outline-[#484e53] px-5 py-1.5 m-1">Domain-Driven Design (DDD) Architecture</span>
          <span
            class="text-[#a9a9a9] text-[16px] capitalize rounded-[50px] outline-1 outline-[#484e53] px-5 py-1.5 m-1">Spring security</span>
          <span
            class="text-[#a9a9a9] text-[16px] capitalize rounded-[50px] outline-1 outline-[#484e53] px-5 py-1.5 m-1">PostgreSQL</span>
          <span
            class="text-[#a9a9a9] text-[16px] capitalize rounded-[50px] outline-1 outline-[#484e53] px-5 py-1.5 m-1">Gradle</span>
        </div>
        <div class="grow"></div>
        <button (click)="openProject4Link()"
                class="flex-none bg-[#4fc3f7] hover:bg-[#3a9bbf] text-[15px] text-[#ffffff] font-medium capitalize rounded-[75px] h-[40px] w-75 mx-auto mt-5">
          <fa-icon [icon]=faGithub class="me-1"></fa-icon>
          <span class="">Explore</span>
        </button>
      </div>
    </div>
    <div class="group relative">
      <img ngSrc="image/oauth2-system-simple.jpg" alt="" height="200" width="360"
           class="aspect-auto w-full h-auto rounded-lg object-cover"/>
      <div class="flex flex-col justify-between mt-4 h-100">
        <div class="flex-none">
          <h3 class="text-[#c1c1c1] font-bold text-[20px]">OAuth2System</h3>
          <p class="mt-1 text-[#a9a9a9] font-normal text-[14px]">
            OAuth2 System with Spring Boot - Client, Authorization Server & Resource Server.
          </p>
        </div>
        <div class="flex flex-wrap flex-none items-start justify-start mt-5">
          <span
            class="bg-[#484e53] text-[#a9a9a9] text-[16px] capitalize rounded-[50px] outline-1 outline-[#484e53] px-5 py-1.5 m-1">Java</span>
          <span
            class="text-[#a9a9a9] text-[16px] capitalize rounded-[50px] outline-1 outline-[#484e53] px-5 py-1.5 m-1">Spring boot</span>
          <span
            class="text-[#a9a9a9] text-[16px] capitalize rounded-[50px] outline-1 outline-[#484e53] px-5 py-1.5 m-1">Spring security</span>
          <span
            class="text-[#a9a9a9] text-[16px] capitalize rounded-[50px] outline-1 outline-[#484e53] px-5 py-1.5 m-1">Redis</span>
          <span
            class="text-[#a9a9a9] text-[16px] capitalize rounded-[50px] outline-1 outline-[#484e53] px-5 py-1.5 m-1">Docker</span>
        </div>
        <div class="grow"></div>
        <button (click)="openProject1Link()"
                class="flex-none bg-[#4fc3f7] hover:bg-[#3a9bbf] text-[15px] text-[#ffffff] font-medium capitalize rounded-[75px] h-[40px] w-75 mx-auto mt-5">
          <fa-icon [icon]=faGithub class="me-1"></fa-icon>
          <span>Explore</span>
        </button>
      </div>
    </div>
    <div class="group relative">
      <img ngSrc="image/hbank-api-simple.jpg" alt="" height="200" width="360"
           class="aspect-auto w-full h-auto rounded-lg object-cover"/>
      <div class="flex flex-col justify-between mt-4 h-100">
        <div class="flex-none">
          <h3 class="text-[#c1c1c1] font-bold text-[20px]">HBank-API</h3>
          <p class="mt-1 text-[#a9a9a9] font-normal text-[14px]">
            A banking API built with Spring Boot and Kotlin.
          </p>
        </div>
        <div class="flex flex-wrap flex-none items-center justify-start mt-5">
          <span
            class=" bg-[#484e53] text-[#a9a9a9] text-[16px] capitalize rounded-[50px] outline-1 outline-[#484e53] px-5 py-1.5 m-1">Kotlin</span>
          <span
            class="text-[#a9a9a9] text-[16px] capitalize rounded-[50px] outline-1 outline-[#484e53] px-5 py-1.5 m-1">Spring boot</span>
          <span
            class="text-[#a9a9a9] text-[16px] capitalize rounded-[50px] outline-1 outline-[#484e53] px-5 py-1.5 m-1">Spring security</span>
          <span
            class="text-[#a9a9a9] text-[16px] capitalize rounded-[50px] outline-1 outline-[#484e53] px-5 py-1.5 m-1">Spring data JPA</span>
          <span
            class="text-[#a9a9a9] text-[16px] capitalize rounded-[50px] outline-1 outline-[#484e53] px-5 py-1.5 m-1">PostgreSQL</span>
          <span
            class="text-[#a9a9a9] text-[16px] capitalize rounded-[50px] outline-1 outline-[#484e53] px-5 py-1.5 m-1">Thymeleaf</span>
          <span
            class="text-[#a9a9a9] text-[16px] capitalize rounded-[50px] outline-1 outline-[#484e53] px-5 py-1.5 m-1">Docker</span>
        </div>
        <div class="grow"></div>
        <button (click)="openProject2Link()"
                class="flex-none bg-[#4fc3f7] hover:bg-[#3a9bbf] text-[15px] text-[#ffffff] font-medium capitalize rounded-[75px] h-[40px] w-75 mx-auto mt-5">
          <fa-icon [icon]=faGithub class="me-1"></fa-icon>
          <span>Explore</span>
        </button>
      </div>
    </div>
    <div class="group relative">
      <img ngSrc="image/hnotes-simple.jpg" alt="" height="200" width="360"
           class="aspect-auto w-full h-auto rounded-lg object-cover"/>
      <div class="mt-4 flex flex-col justify-between">
        <div class="flex-none">
          <h3 class="text-[#c1c1c1] font-bold text-[20px]">HNotes</h3>
          <p class="mt-1 text-[#a9a9a9] font-normal text-[14px]">
            A modular Android application designed for note-taking.
          </p>
        </div>
        <div class="flex flex-wrap flex-none items-center justify-start mt-5">
          <span class="bg-[#484e53] text-[#a9a9a9] text-[16px] capitalize rounded-[50px] outline-1 outline-[#484e53] px-5 py-1.5 m-1">
            Android
          </span>
          <span class="text-[#a9a9a9] text-[16px] capitalize rounded-[50px] outline-1 outline-[#484e53] px-5 py-1.5 m-1">
            Kotlin
          </span>
          <span class="text-[#a9a9a9] text-[16px] capitalize rounded-[50px] outline-1 outline-[#484e53] px-5 py-1.5 m-1">
            Version-catalog
          </span>
          <span class="text-[#a9a9a9] text-[16px] capitalize rounded-[50px] outline-1 outline-[#484e53] px-5 py-1.5 m-1">
            Modular architecture
          </span>
          <span class="text-[#a9a9a9] text-[16px] capitalize rounded-[50px] outline-1 outline-[#484e53] px-5 py-1.5 m-1">
            Jetpack compose
          </span>
          <span class="text-[#a9a9a9] text-[16px] capitalize rounded-[50px] outline-1 outline-[#484e53] px-5 py-1.5 m-1">
            Gradle convention plugins
          </span>
        </div>
        <div class="grow"></div>
        <button (click)="openProject3Link()"
                class="flex-none bg-[#4fc3f7] hover:bg-[#3a9bbf] text-[15px] text-[#ffffff] font-medium capitalize rounded-[75px] h-[40px] w-75 mx-auto mt-5">
          <fa-icon [icon]=faGithub class="me-1"></fa-icon>
          <span>Explore</span>
        </button>
      </div>
    </div>
  </div>
</div>


