<div class="mx-auto max-w-7xl px-6 lg:px-8">
  <div class="mx-auto grid grid-flow-col max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-2 content-center">
    <div class="col-span-2 flex items-center ms-5 my-3">
      <h2 class="text-[63px] font-medium text-[#dedede]">Let’s Work Together</h2>
    </div>
    <div class="col-span-1 flex items-center me-5 my-3">
      <button
        class="text-[25px] text-[#c9c9c9] font-normal outline-[#4fc3f7] outline-[1px] rounded-[15px] hover:bg-[#48c3f7] hover:text-black px-10 py-2.5 cursor-pointer">
        <fa-icon [icon]=faEnvelope class="me-1"></fa-icon>
        hmzgtl16&#64;gmail.com
      </button>
    </div>
  </div>
  <div class="border-t-[1px] border-[#484e53]"></div>
  <div class="mx-auto grid grid-flow-col max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-2 content-center">
    <div class="flex items-center ms-5 my-3">
      <p class="text-[16px] font-normal text-[#a9a9a9]">© {{ currentYear }} All rights reserved.</p>
    </div>
    <div class="flex flex-row-reverse items-center me-5 my-10">
      <button (click)="openWhatsapp()" class="mx-1 text-[#a9a9a9] hover:scale-[1.05] cursor-pointer">
        <fa-icon [icon]=faWhatsapp size=2xl></fa-icon>
      </button>
      <button (click)="openLinkedin()" class="mx-1 text-[#a9a9a9] hover:scale-[1.05] cursor-pointer">
        <fa-icon [icon]=faLinkedin size=2xl></fa-icon>
      </button>
      <button (click)="openGithub()" class="mx-1 text-[#a9a9a9] hover:scale-[1.05] cursor-pointer">
        <fa-icon [icon]=faGithub size=2xl></fa-icon>
      </button>
    </div>
  </div>
</div>


